
.container-login{
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3%) ;
    display: flex;
    justify-content: space-between;
    height: 92vh;
    padding: 30px;
}
.login-box{
    font-size: .8em;
    box-shadow: 0px 2px 8px 0px rgba(255,255,255,.2);
    border-radius: 15px;
    background-color: rgba(255,255,255,.1);
    padding: 25px 35px;
    color: white;
    margin: 130px 30px;
    height: 52%;
}
.login-box form .user-enter{
    margin: 30px 0px;
}
.login-box form .user-enter label {
    display: block;
    margin: 20px 0px;
}
.login-box form .user-enter input {
    width: 97%;
    height: 13px ;
    border-radius: 20px;
    background: none;
    border: 1px solid #ffff;
    padding: 10px;
    color: #fff;
}
#hello {
    color: #eb4d4b;
}
.login-box form .social {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgba(255,255,255,.8);
    margin-top: 30px;
    padding-top: 20px;
}
.login-box form .social a {
    color: #fff;
    font-size: 1.9em;
}
.login-box form .social i:hover{
    color: rgb(247, 178, 51);
    cursor: pointer;
}
.img-box img {
    width: 100%;
    margin-top: 180px;
}
.btn {
    text-align: center;
}
.btn input {
    color: #fff;
    background-color: #eb4d4b;
    border: none;
    font-size: 1.4em;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}